*{
    inset:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.container{
    width: 30%;
    height: 300px;
    background: url(./muruga.jpg);
}

.screen{
    width: 100%;
    height: 100%;
    background-color: rgb(34, 1, 1);
    mix-blend-mode:multiply ;
}

span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color:white;
    position: absolute;
}